ALDR Comments

My understanding is that in moving away from Application Profiles to ALDR, the notion that there are many *classes* of application that will layer on top of CDE is no longer. I think this is good. There's no eCBOR and fCBOR follow-ons to dCBOR, each of which has dozens of applications in each class. 

So ALDR is primarily about application-specific rules now.

A question is why do applications that use CDE have any more need for rules than applications that use preferred serialization or any sort of serialization.

Preferred Serialization of big numbers requires *reduction* of the range of big numbers from -(2^64) through (2^64)-1 to integers. This is an example of an ALDR-like rule outside of CDE.

Since this is about application-specific rules, I'd say that every application protocol excludes something, usually a lot. For example most protocols exclude floating-point just by not using it.

Describing the notion of a reduction seems useful for some applications that want an expanded notion of determinism past serialization into the data model. My preference would be to describe it as an application design consideration in an appendix titled "Reductions" or such.

A lot of the description about reduction would be why they are useful for determinism in some contexts.

A lot of the text in Appendix A is still oriented such that there is going to be an eCBOR, fCBOR,... I'd like to see that reoriented. I think the dCBOR document shouldn't refer to itself as a profile anymore.

I don't think we need the concept of ALDR. We didn't need a conceptual name to write RFC 8949 section 5, "Creating CBOR-Based Protocols".

> A question is why do applications that use CDE have any more need for rules than applications that use preferred serialization or any sort of serialization.

Where deterministic representation is an actual requirement (and not just a matter of taste as in Anders' documents), there always is a need for thinking about this at the application level.  Whether this leads to actual rules depends on the case, but having the explanation to point out this must be thought about, but is separate from the deterministic encoding, motivates a brief discussion.

Apart from this question, I think this issue is OBE based on the integration of text ideas Laurence supplied in the above-referenced.

Can this be closed now?

